<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      H O B I
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">H O B I</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="HOBI"></app-explore-container>

  
  <P>HOBI</P>
  <p></p>

  <p>Suggestions:</p>
  <ion-grid>
<ion-row>
<ion-col size="4" >
  <ion-img  style="width: 80px; height: 100px;"  src="../assets/img/image1.png"></ion-img>
</ion-col>
<ion-col size="8">
  <p><a routerLink="/Jetski">Jet Ski</a><br>
This is a fun alternative for those who love speed</p>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size="4">
    <ion-img  style="width: 80px; height: 100px;"  src="../assets/img/image2.png"></ion-img>
  </ion-col>
  <ion-col size="8">
  <p><a routerLink="/Surfing">Surfing</a><br>
  Feel the wind and waves</p>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-img  style="width: 80px; height: 100px;"  src="../assets/img/image3.png"></ion-img>
    </ion-col>
    <ion-col size="8">
      <p><a routerLink="/Swimming">Swimming</a><br>
    Great excercise and fun</p>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-img  style="width: 80px; height: 100px;"  src="../assets/img/image4.png"></ion-img>
      </ion-col>
      <ion-col size="8">
        <p><a routerLink="/Sailing">Sailing</a><br>
      Enjoy the scenery and see the sea</p>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-img  style="width: 80px; height: 100px;"  src="../assets/img/image5.png"></ion-img>
        </ion-col>
        <ion-col size="8">
          <p><a routerLink="/Kayaks">Kayaks</a><br>
        Feel the nature in peace</p>
        </ion-col>
        </ion-row>
  </ion-grid>
  <ion-button expand="full" color="secondary" routerLink="/choices" >Return</ion-button>
 <p></p>
</ion-content>
