<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      H O B I
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">H O B I</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="HOBI"></app-explore-container>
  <div class="fullheight xc">
    <div class="vcs">
  
  <P>HOBI</P>
  <p></p>

  <h5>Sailing</h5>
    <ion-img  style="width: 60%;"   src="../assets/img/image4.png"></ion-img>

    <p>Introducing the sports you selected <br><br>
    Lots of introductory text because this is a great choice <br><br>
    Locations where you can find this <br><br>
    Phone numbers and contact information </p>
    <br>
 <ion-grid>
  <ion-row>
    <ion-col>
     <ion-button  color="secondary" routerLink="/sign"  >Sign Up</ion-button>
    </ion-col>
    <ion-col>
     <ion-button  color="secondary"  routerLink="/choices" >Return</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
 
 <p></p>
 </div></div>
</ion-content>
